footer {
  min-height: 15vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: $footerColour;
  @include flexCenter(column);
  justify-content: space-around;
  padding: 2rem 0;
  transition: $bgColourTransition;

  & > :last-child {
    margin-top: 1.5rem;
  }

  // footer-content
  .footer-menu {
    width: 100%;
    line-height: 1.8;
    height: 10rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: bold;
    @include flexCenter(column);
    align-content: space-evenly;
    justify-content: center;
    & * > :hover {
      color: yellow;
    }
  }
}

/*------------- Reponsive ---------*/
// Tablet
@media only screen and (min-width: map-get($breakpoints, tablet)) {
  footer {
    flex-direction: row;
    .footer-menu {
      align-items: start;
      width: 50%;
      align-content: space-around;
    }
  }
  // Desktop
  @media screen and (min-width: map-get($breakpoints, desktop)) {
  }
}

/* Dark mode */

footer.dark-mode {
  background-color: $dmFooterColour;
}
