// Variables

$separatorBorder: 1px solid #000;

// Barre de navigation
nav {
  height: 20vh;
  width: 100%;
  //top: 0;
  z-index: 1;

  // Partie supérieure
  & > :first-child {
    height: 30%;

    background-color: $topNav-colour;
    border-bottom: $bottomBorder;
    @include flexCenter(row);
    justify-content: space-between;
    padding: 0 2rem;
    // Radios | Chaînes TV | Replay
    .radio-tv-replay {
      @include flexCenter(row);
      & > * {
        padding: 0.9rem 1.5rem;
        text-transform: uppercase;
      }
      // Chaînes TV
      & > :nth-child(2n) {
        border-left: $separatorBorder;
        border-right: $separatorBorder;
      }
    }
    // Mon compte
    .account {
    }
  }

  // Partie inférieure
  & > :last-child {
    height: 70%;
    border-bottom: $bottomBorder;
    @include flexCenter(column);
    justify-content: space-evenly;

    .SIP-logo {
      margin: 0 auto;
      height: 6rem;
      width: 18rem;
    }

    .nav-menu {
      text-transform: uppercase;
      @include flexCenter(row);
      justify-content: center;
      & > * {
        margin: 0 2rem;
      }
    }
    .fa-search {
      color: $searchIcon-colour;
      font-size: 1.5rem;
    }
  }

  .nav-menu,
  .radio-tv-replay,
  .account {
    color: $secondaryColour;
    font-weight: bold;
    letter-spacing: 0.2rem;
  }
}

// Navigation menu
.nav-links {
  & li {
    & a {
    }
  }
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

/*---------- Animations --------*/

/*------------- Reponsive ---------*/
// Tablet
@media only screen and (min-width: map-get($breakpoints, tablet)) {
  // Desktop
  @media screen and (min-width: map-get($breakpoints, desktop)) {
  }
}
